<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.getdone"
    android:versionCode="1"
    android:versionName="v1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="GetDoneApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.GetDone" >
        <activity
            android:name="cn.getdone.ui.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.getdone.ui.main.SetRemindActivity" >
        </activity>
        <activity 
            android:name="cn.getdone.ui.main.ModifyTaskActivity" 
            android:windowSoftInputMode="adjustNothing|stateAlwaysVisible"
            />
        <activity
            android:name="cn.getdone.ui.main.RemindActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity android:name="cn.getdone.ui.main.ArrangeTaskActivity" >
        </activity>
        
        <!-- 历史任务 -->
        <activity android:name="cn.getdone.ui.history.HistoryTaskActivity"></activity>
        
        <!-- 二维码扫描 -->
        <activity 
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" 
            android:name="com.zxing.activity.QRCaptureActivity"></activity>
        
		<!-- 番茄时间 -->
		<activity android:name="cn.getdone.ui.main.TomatoActivity"></activity>
		
		<!-- 个人设置 -->
		<activity android:name="cn.getdone.ui.settings.UserSettingActivity"
		    android:windowSoftInputMode="stateHidden"></activity>
		
		<!-- 延迟选项 -->
		<activity android:name="cn.getdone.ui.DelayActivity" 
		    android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
		
		<!-- 关于界面 -->
		<activity android:name="cn.getdone.ui.AboutActivity"></activity>
		
		<!-- 友盟反馈界面 -->
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
		
		<!-- ############################# service ########################### -->

        <service android:name="cn.getdone.ui.main.SetTaskAlarmService" ></service>
        
        <service
            android:name="cn.getdone.appwidget.TodayWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>
        
        <!-- ############################# receiver ########################### -->

        <receiver android:name="cn.getdone.receiver.RebootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 桌面控件 -->
        <receiver android:name=".appwidget.TodayWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="cn.getdone.UPDATE_TASK" />
                <action android:name="cn.getdone.CLICK_ITEM" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_appwidget" />
        </receiver>

        <meta-data android:value="5460a854fd98c54d2400376a" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="J-Cn" android:name="UMENG_CHANNEL"/>

    </application>

</manifest>